.divbg{
    border-radius: 10px;
}
.para3{
    padding: 10px;
}
.yellow{
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.just{
    border-radius: 10px;
    padding: 10px;
}
.pot{
    padding: 10px;
    border-radius: 10px;
}
.btn{
    border: 2px solid blue;

}
